.container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin: 1.2rem;
}

.loading {
  font-size: 1.2rem;
  font-weight: bold;
}
